<ul>
  <%= content_tag_for(:li, @games) do |game| %>
      <span><%= game.hangman_text %></span>
      <span><%= game.score %></span>
      <%= link_to(game.done? ? 'Show' : 'Continue', game, id: dom_id(game, 'show')) %>
  <% end %>
</ul>

<br/>

<%= paginate @games %>

<br/>

<%= link_to 'New', new_game_path, id: 'new_game' %> Game

