<b>Welcome to hangman extreme</b>
<br/>
Have fun guessing the word
<br/>

<ul>
  <%= content_tag_for(:li, @games) do |game| %>
      <span><%= game.hangman_text %></span> -
      <span><%= game.score %></span> -
      <%= link_to(game.done? ? 'show' : 'continue', game, id: dom_id(game, 'show')) %>
  <% end %>
</ul>

<br/>

<%= paginate @games %>

<br/>

<%= link_to 'new', new_game_path, id: 'new_game' %> game |
view <%= link_to 'rank', user_path(current_user), id: 'view_rank' %>

