<% if @game.is_won? %>
<b style="color:green">You win!</b>
<% elsif @game.is_lost? %>
<b style="color:red">You lose!</b>
<% else %>
You have <span><%= @game.attempts_left %></span> attempts left
<% end %>
<div <% if @game.is_lost? %>style="color:red;"<% end %>><%= render partial: 'hangman' %></div>
<br/>
<b style="color:purple;"><%= @game.hangman_text.split("").join(" ") %></b>
<br/>
<% if @game.done? %>
    <%= link_to 'new', new_game_path, id: "new_game" %> game |
    <%= link_to 'define', define_word_path(word: @game.hangman_text), id: "define_word" %> word |
    view <%= link_to 'rank', user_path(current_user), id: 'view_rank' %>
<% else %>
    <% ("a".."z").each do |letter| -%>
      <%= link_to_unless(@game.choices.to_s.include?(letter),letter, play_letter_game_path(@game,letter), id: letter) %>
    <% end -%>
<% end %>
<br/>
<%= link_to 'leave', games_path, id: "games_index" %> game
