<% if @game.is_won? %>
You win!
<% elsif @game.is_lost? %>
You lose!
<% else %>
You have <span><%= @game.attempts_left %></span> attempts left
<% end %>

<br/>
<div <% if @game.is_lost? %>style="color:red;"<% end %>><%= render partial: 'hangman' %></div>
<br/>
<span style="color:purple;"><%= @game.hangman_text %></span>
<br/>
<br/>
<% if @game.done? %>
    <%= link_to 'new', new_game_path, id: "new_game" %> game
    <br/>
    View <%= link_to 'rank', user_path(current_user), id: 'view_rank' %>
<% else %>
    <% ("a".."z").each do |letter| -%>
        <%= link_to(letter, play_letter_game_path(@game,letter), id: letter) %>
    <% end -%>
<% end %>
<br/>

<%= link_to 'leave', games_path, id: "games_index" %> game
