<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @game.word %>
</p>

<p>
  <b>Choices:</b>
  <%= @game.choices %>
</p>

<p>
  <b>User:</b>
  <%= @game.user %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
